﻿<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- Config from: https://github.com/NLog/NLog/wiki/File-target-->
	<targets>
		<target name="exceptions" xsi:type="File"
			layout="${longdate} ${logger} ${message}${exception:format=ToString}"
			fileName="${basedir}/logs/logExceptions.txt"
			keepFileOpen="true"
			encoding="utf-8" />
		
		<target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="${basedir}/logs/logfile.txt"
            keepFileOpen="true"
            encoding="utf-8" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="BookStore.*" minlevel="Error" writeTo="logExceptions" />
	</rules>
</nlog>