@import 'color-variables';

@mixin iconHover($background-color, $color) {
    background-color: $background-color;
    color: $color;
    transition: ease-in-out 0.15s all;
}

.table-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;

  & table tr:hover{
    background-color: $primary-color;
    color: $secondary-color;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
  }

  .spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .data-table {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    ::ng-deep .mat-header-row:hover {
        background-color: $table-row-hover;
        color: $text-color;
    }

    ::ng-deep .mat-row:hover {
        background-color: $table-row-hover;
        color: $text-color;
    }

    .mat-icon {
      cursor: pointer;
      margin: 0 4px;
      font-size: 18px;
      padding: 5px;
      text-align: center;
      border-radius: 50%;
    }

    .edit-table-icon {
        color: $secondary-color;
        
        &:hover {
            @include iconHover($secondary-color, $text-color);
        }
    }

    .delete-table-icon {
        color: $error-color;

        &:hover {
            @include iconHover($error-color, $text-color);
        }
    }
  }
}