<ng-container *ngFor="let item of data$ | async">
    <h1>{{ item.keyword }}</h1>
</ng-container>

<table #tableRef mat-table [dataSource]="data$ | async" class="mat-elevation-z8 demo-table">
    <ng-container *ngFor="let column of dataColumns" matColumnDef="{{ column.propertyName }}">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            <div class="mat-header-cell-content">
                <span>{{ column.columnName }}</span>
            </div>
        </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="propertyNames; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: propertyNames;"></tr>
</table>