<div class="auth-form">
    <h2 class="header mb-3">Zarejestruj się</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="fields-container">
            <mat-form-field>
                <input matInput type="text" placeholder="Nazwa użytkownika" formControlName="username" />
                <mat-error *ngIf="registerForm.get('username')?.hasError('required')"
                >Nazwa użytkownika jest wymagana</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Hasło" formControlName="password" />
                <mat-error *ngIf="registerForm.get('password')?.hasError('required')"
                >Hasło jest wymagane</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Miasto" formControlName="city" />
                <mat-error *ngIf="registerForm.get('city')?.hasError('required')"
                >Miasto jest wymagane</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Ulica" formControlName="street" />
                <mat-error *ngIf="registerForm.get('city')?.hasError('required')"
                >Miasto jest wymagane</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Kod pocztowy" formControlName="postalCode" />
            </mat-form-field>
        </div>
        <div class="form-actions">
            <button
                class="buttons-confirm"
                type="submit"
            >Zarejestruj się</button>
        </div>
    </form>
</div>