@import 'media-queries';
@import 'color-variables';
@import 'angular-materials-override';

.home-container {
    background-color: white;
    margin: 0;
    height: 100%;

    .login-container {
        display: flex;
        justify-content: center;
        padding: 1rem 0.5rem;
        height: 100%;
    }

    .home-tabs {
        border: 5px solid $primary-color;
        width: 60%;
        height: 70%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        overflow: hidden;

        .mat-tab-label {
            background-color: $primary-color;
            color: #fff;
            border-radius: 8px 8px 0 0;
        }

        .mat-tab-body-wrapper {
            padding: 1.5rem;
        }
    }

    @include desktop-sm {
        padding: 3rem 0;
        overflow: hidden;

        .brand-container {
            margin-bottom: 1.5rem;
            margin-left: 10%;
            padding: 0;

            .brand-text {
                margin-top: 0.2rem;
            }
        }

        .login-container {
            padding-top: 5rem;
        }
    }
}