<div class="home-container">
    <app-header
        [title]="headerDefinition.title"
        [imgSource]="headerDefinition.imgSource"
        [imgAlt]="headerDefinition.imgAlt"
    ></app-header>
    <div class="login-container">
        <mat-tab-group class="home-tabs">
            <mat-tab label="Zaloguj się">
                <app-login></app-login>
            </mat-tab>
            <mat-tab label="Zarejestruj się">
                <app-register></app-register>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>