<div class="home-container">
    <div class="brand-container">
        <img src="" alt="Sekvi Logo" class="brand-logo"/>
        <span class="brand-text">Filip Koźlik</span>
    </div>
    <div class="login-container">
        <mat-tab-group class="home-tabs">
            <mat-tab label="Zaloguj się">
                <app-login></app-login>
            </mat-tab>
            <mat-tab label="Zarejestruj się">
                <app-register></app-register>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>