<div class="home-container">
    <div class="circle-background"></div>
    <app-header
        [title]="headerDefinition.title"
        [imgSource]="headerDefinition.imgSource"
        [imgAlt]="headerDefinition.imgAlt"
    ></app-header>
    <div class="login-container">
        <mat-tab-group class="home-tabs">
            <mat-tab 
                label="Zaloguj się"
                class="home-tab"
            >
                <app-login></app-login>
            </mat-tab>
            <mat-tab 
                label="Zarejestruj się"
                class="home-tab"
            >
                <app-register></app-register>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>