<div class="form-container">
    <form [formGroup]="userPasswordForm" (ngSubmit)="onSubmit()">
        <div class="fields-container">
            <mat-form-field class="password-input">
                <input matInput type="password" placeholder="Nowe hasło" formControlName="newPassword" />
                <mat-error *ngIf="userPasswordForm.get('newPassword')?.hasError('required')"
                >Hasło jest wymagane</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Potwierdź hasło" formControlName="passwordConfirm" />
                <mat-error *ngIf="userPasswordForm.get('passwordConfirm')?.hasError('required')"
                >Potwierdzenie hasła jest wymagane</mat-error>
            </mat-form-field>
        </div>
        <div class="form-actions">
            <button
                class="buttons-confirm"
                type="submit"
                [disabled]="userPasswordForm.invalid"
            >Potwierdź</button>
        </div>
    </form>
</div>