@import "color-variables";

.header-container {
  margin-left: 55px;
  padding: 1rem 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;

  .header-text {
    margin-top: 0.5rem;
    color: $header-color;
    font-size: 2rem;
    display: block;
  }

  .header-logo {
    max-height: 60px;
    max-width: 100px;
    padding-right: 10px;
  }
}
