@import 'color-variables';

.table-container {
    height: 80vh;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    width: 80%;    

    & table tr:hover {
        background-color: $primary-color;
        color: $secondary-color;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
      }
}